# in Lenet, ignore data and debug files
Lenet/__pycache__
Lenet/.vscode
Lenet/data
# MNIST
MNIST/__pycache__
MNIST/data
AlexNet/__pycache__
AlexNet/flower_data
AlexNet/AlexNet.pth
AlexNet/class_indices.json
AlexNet/to_see_picture.jpg
AlexNet/tulip.jpg
AlexNet/tulip.png
Unet/__pycache__
Unet/Medical_Datasets
Unet/params
Unet/result
Unet/diy_*